<div>
  <a href="/store/storehistory" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">View History</a>
  <br>
  <br>
</div>
<div>
  <a href="/store/storesales" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">View Sales</a>
  <br>
  <br>
</div>
<div>
  <a href="/home/logout" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Logout</a>
</div>
