<div>
  <a href="/store/storehistory" class="btn btn-info btn-lg" role="button">View History</a>
  <br>
  <br>
</div>
<div>
  <a href="/store/storesales" class="btn btn-info btn-lg" role="button">View Sales</a>
  <br>
  <br>
</div>
<div>
  <a href="/home/logout" class="btn btn-danger btn-lg" role="button">Logout</a>
</div>
