<div>
  <a href="/order/checkout" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Place Order</a>
  <br>
  <br>
  <br>
</div>
<div>
  <a href="/order/UserHistory" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">View History</a>
  <br>
  <br>
  <br>
</div>
<div>
  <a href="/home/logout" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Logout</a>
</div>

