<div>
  <a href="/order/checkout" class="btn btn-primary btn-lg active" role="button">Place Order</a>
  <br>
  <br>
  <br>
</div>
<div>
  <a href="/order/UserHistory" class="btn btn-outline-info btn-lg active" role="button">View History</a>
  <br>
  <br>
  <br>
</div>
<div>
  <a href="/home/logout" class="btn btn-danger btn-lg active" role="button">Logout</a>
</div>

