@{
  ViewData["Title"] = "Home";
}

<div class="text-center"></div>
    <h1 class="display-4">Welcome!!</h1>
    <a href="/home/login" class="btn-outline-primary btn-lg active" role="button">Enter</a>
</div>
