@model PizzaBox.Client.Models.StoreModel

<div>
  <label>Store Sales: </label>
  <label>@Model.Sales</label>
  <br>
</div>
<div>
  <a href="/store/menu" class="btn btn-secondary btn-lg btn-info" role="button">Back To Menu</a>
</div>
